@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-size: 'Montserrat', san-serif;
}

.custom-img {
  background-image: url("https://lh3.googleusercontent.com/Z7JEwn1skf3LhuBn0wv_C60gh00pEaOnG-l6-12JhZlbeL3kY5SfWx1ILWt0Wycn310LEXXElzOdNYZEyLCnLFfJGdNM0Pa4lpLRZ02cPgYqdVMMQjfCsU--WepGzNjVHi-YFd3CkQ=w2400");
}